 html {
 	font-family: helvetica, arial;
 	margin-left: auto;
 	margin-right: auto;
 	width: 960px
 }
 h1 {
	text-align: center;
	background-color: #0C045B ;
	color: white;
	padding: 20px 0px 20px 0px;
	margin-left: 0px;
}
#NavBar {
	background-color: black;
	margin-top: -50px;
	margin-right: 0px;
	margin-bottom: 0px
	padding: 50px 0px 110px 0px;
	text-decoration: none;
}
#NavBar li {
	display: inline-block;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 10px 50px 10px 75px;
    color: white;
    text-align: center;
    position: relative;
    text-decoration: none;

}
#NavBar a:hover {
	color: black
	



