 html {
 	font-family: helvetica, arial;
 	margin-left: auto;
 	margin-right: auto;
 	width: 960px
 }
 h1 {
	text-align: center;
	background-color: black ;
	color: white;
	padding: 20px 0px 20px 0px;
}
#NavBar {
	background-color: black;
	margin-top: -50px;
}
#NavBar li {
	display: inline-block;
	padding: 10px 70px 10px 70px;
    color: white;
    background-color: #0C045B; 
    margin-top: 1px;

}
#NavBar a:hover {
	color: white;
}
#NavBar ul {
	text-align:center;
	margin-left: -40px;
}



