 html {
 	font-family: helvetica, arial;
 	background-color: grey;
 }
 #Container {
 	width: 960px;
 	margin-left: auto;
 	margin-right: auto;
 	border-radius: 10px solid black;
 }
 h1 {
	text-align: center;
	background-color: black ;
	color: white;
	padding: 20px 0px 20px 0px;
	margin-top: -10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#NavBar {
	background-color: black;
	margin-top: -10px;
	border-radius: 10px;
	margin-right: 100px;
	margin-left: 100px;
}
#NavBar li {
	display: inline-block;
    color: white; 
    margin-top: 1px;
    padding: 5px 20px 5px 20px
}
#NavBar ul {
	text-align:center;
	margin-left: -40px;
}
#NavBar a {
	text-decoration: none;
}
#NavBar button {
	padding: 5px 20px 5px 20px; 
	background-color: grey;
	color: white;
}




